<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{object.Title}}</h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object"
            ng-src="{{object.PrimaryImage.Medium}}" alt="{{object.Title}}">
          </a>
        </div>
        <div class="media-body">
          {{object.Description}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      Press the scan button in the app to tag this object
    </div>
  </div>
</div>

<div class="row" ng-repeat="beacon in beacons">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object"
            ng-src="{{beacon.icon()}}" alt="{{beacon.name()}}">
          </a>
        </div>
        <div class="media-body">
          <ul>
            <li>Name: {{beacon.name()}}</li>
            <li>UUID: {{beacon.uuid()}}</li>
            <li>Major: {{beacon.major()}}</li>
            <li>Minor: {{beacon.minor()}}</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-default btn-lg"
      ng-click="tagObject(beacon)">
        Tag this object
      </button>
    </div>
  </div>
</div>
